<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content, scripts)">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">studylog</title>
        <link rel="stylesheet" th:href="@{/css/app.css}">
        <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    </head>
    <body>
        <div class="layout">
            <main class="content">
                <th:block th:replace="${content}"></th:block>
            </main>
            <aside th:replace="fragments/sidebar :: sidebar"></aside>
        </div>
        <th:block th:if="${scripts != null}" th:replace="${scripts}"></th:block>
    </body>
</html>