<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      th:replace="fragments/base :: layout('Home', ~{::main}, ~{})">
    <main>
        <h1>勉強ログ</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>日付</th>
                    <th>科目</th>
                    <th>分</th>
                    <th>メモ</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="log : ${logs}">
                    <td th:text="${log.id}"></td>
                    <td th:text="${log.studyDate}"></td>
                    <td th:text="${log.subject}"></td>
                    <td th:text="${log.minutes}"></td>
                    <td th:text="${log.memo}"></td>
                </tr>
        </table>
    </main>
</html>